<div class="page-title">
  <h1>Backups</h1>
</div>

<!-- Backup notification -->
<div ng-show="backupCtrl.restoringBackup" class="alert--progress animate-scale--r-b">
  <strong>Restoring {{backupCtrl.restoringName}}</strong> &hellip; {{backupCtrl.restoringPercent}}% complete
</div>

<p class="add-bottom text-right">
  <button ng-disabled="backupCtrl.restoringBackup" ng-click="backupCtrl.toggleModal()"
          class="btn btn--success">
            <i class="fa fa-plus"></i>
            Create New Backup
  </button>
</p>

<!-- List of backups -->
<ul class="item-list">
  <li ng-repeat="backup in backupCtrl.backups">
    {{backup.receipts[0].data.key}}
    <button class="btn btn--outline"
            ng-click="backupCtrl.restoreBackup(backup.id)"
            ng-disabled="backupCtrl.restoringBackup">restore</button>
  </li>
</ul>

<div class="empty-state" ng-show="!backupCtrl.backups || backupCtrl.backups.length === 0">
  <div class="empty-state__tag">
    <!-- Icon -->
    <i class="fa fa-database fa-5x"></i>
    <!-- Main Title -->
    <h3 class="empty-state__title">No backups found</h3>
  </div>
</div>

<!-- New Backup Modal -->
<div ng-class="{ false: 'modal', true: 'modal--show' }[backupCtrl.isModalVisible]">
  <!-- Overlay -->
  <div class="overlay" ng-click="backupCtrl.toggleModal()"></div>

  <!-- Modal Content -->
  <div class="modal__contents modal--transition">
    <!-- Close button -->
    <h3 class="modal__header">
      <a class="modal__close" href="" ng-click="backupCtrl.toggleModal()">&times;</a>
      Create a Backup
    </h3>

    <form name='backup'>
      <fieldset>
        <div class="input-wrapper">
          <label>Name</label>
          <input
          ng-class="{ false: 'alert', true: 'success' }[!!backupName]"
          ng-required="true"
          type="text"
          ng-model="backupName"/>
        </div>
        <div class="input-wrapper">
          <label>Collections (comma separated)</label>
          <tag-list
          cid="collections"
          ng-class="{ false: 'alert', true: 'success' }[!!backupCtrl.collections().length]"></tag-list>
        </div>
      </fieldset>

      <fieldset>
        <div class="input-wrapper">
          <label>Type</label> <!-- TODO add api methods to automate type selection -->
        </div>
        <div class="input-wrapper">
          <input type="radio"
                 name="aws"
                 value="s3"
                 id="aws"
                 ng-model="backupType"
                 ng-required="!backupType">
          <label class="radio-label" for="aws">AWS S3</label>
        </div>
        <div class="input-wrapper">
          <input type="radio"
                 name="localFS"
                 value="local"
                 id="localFS"
                 ng-model="backupType"
                 ng-required="!backupType">
          <label class="radio-label" for="localFS">Choice 2</label>
        </div>
      </fieldset>

      <div ng-show="backupCtrl.creatingBackup" class="alert--progress animate-scale--l-c">
        <strong>Backing up {{backupCtrl.restoringName}}</strong> &hellip; {{backupCtrl.percent}}% complete
      </div>

      <div ng-hide="creatingBackup" class="input-wrapper animate-scale--l-c">
        <button class="btn"
                ng-click="backupCtrl.toggleModal()">
                  Cancel
        </button>
        <button class="btn btn--success"
                ng-click="backupCtrl.createBackup(backupName, backupCtrl.collections(), backupType)"
                ng-disabled="backupCtrl.creatingBackup">
                  Create
        </button>
      </div>

    </form>
  </div>
</div>
