/* --------------------------------

  Style Guide

-------------------------------- */
@import 'bourbon';
@import 'core/variables';
@import 'core/layout';

/* --------------------------------
	xPatterns
-------------------------------- */
.sg-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $color-4;
	border-radius: 3px;
	background: lighten($color-5, 5%);
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

/* --------------------------------
	xPage title
-------------------------------- */
main > h1 {
	color: $color-2;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-5;
	}
}

/* --------------------------------
	xTypography
-------------------------------- */
h1 {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: 700;
	text-transform: uppercase;
	margin: 1em 0;

	a {
		text-transform: none;
		font-size: 90%;
		margin-left: 5px;
	}

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
}

p {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($color-2, 25%);

	a {
		color: $color-1;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

.fa {
	color: lighten($color-2, 5%);
}

/* --------------------------------
	xButtons
-------------------------------- */
.sg-buttons .sg-box:nth-of-type(2) span {
	/* CSS class name color */
	color: $color-1;
}



/* --------------------------------
	Basic Styles for the Style Guide
-------------------------------- */

/* xBranding section - basic style */
.sg-branding {

	.sg-box {
		margin-bottom: 1em;
	}

	img {
		display: block;
		width: 100%;
	}

	ul:last-of-type {
		padding-top: .6em;

		li {
			display: inline-block;
			margin-right: 1em;
		}

		li:nth-of-type(1) img {
			width: 90px;
			height: 90px;
			border-radius: 1em;
		}

		li:nth-of-type(2) img {
			width: 60px;
			height: 60px;
			border-radius: .6em;
		}

		li:nth-of-type(3) img {
			width: 32px;
			height: 32px;
			border-radius: .4em;
		}

		li:nth-of-type(4) img {
			width: 16px;
			height: 16px;
			border-radius: .2em;
		}
	}

	@include MQ(S) {
		.sg-box {
			@include column(.49);
			margin: 0 2% 2em 0;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		ul:last-of-type {
			clear: left;

			li {
				margin-right: 3em;
			}
		}
	}
}

/* xColor section - basic style */
.sg-colors {

	li {
		text-align: center;
		@include column(.48);
		margin: 0 4% 1em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	.sg-color-swatch {
		position: relative;
		width: 100%;
		padding: 50% 0;

		&::before, &::after {
			/* lighter and darker color shades of the same swatch */
			content: '';
			position: absolute;
			bottom: 0;
			width: 50%;
			height: 20%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	b {
		display: block;
		padding: .6em 0;
	}

	li:nth-of-type(1) .sg-color-swatch {
		background: $color-1;

		&::before {
			background: lighten($color-1, 5%);
		}

		&::after {
			background: darken($color-1, 5%);
		}
	}

	li:nth-of-type(2) .sg-color-swatch {
		background: $color-2;

		&::before {
			background: lighten($color-2, 5%);
		}

		&::after {
			background: darken($color-2, 5%);
		}
	}

	li:nth-of-type(3) .sg-color-swatch {
		background: $color-3;

		&::before {
			background: lighten($color-3, 5%);
		}

		&::after {
			background: darken($color-3, 5%);
		}
	}

	li:nth-of-type(4) .sg-color-swatch {
		background: $color-4;

		&::before {
			background: lighten($color-4, 5%);
		}

		&::after {
			background: darken($color-4, 5%);
		}
	}

	li:nth-of-type(5) .sg-color-swatch {
		background: $color-5;

		&::before {
			background: lighten($color-5, 5%);
		}

		&::after {
			background: darken($color-5, 5%);
		}
	}

	@include MQ(S) {
		li {
			@include column(.19);
			margin: 0 1.25% 1em 0;

			&:nth-of-type(2n) {
				margin-right: 1.25%;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}
}

.sg-typography .sg-box,
.sg-buttons .sg-box,
.sg-icons .sg-box,
.sg-form .sg-box {
	padding: 1em;

	@include MQ(S) {
		.sg-box {
			padding: 2em;
		}
	}
}

/* xTypography section - basic style */
.sg-typography {

	h1::before {
		content: 'Aa - ';
		color: $color-1;
	}
}

.sg-buttons {
	.sg-box:first-of-type {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.sg-box:last-of-type {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	button {
		margin: .4em;
	}

	@include MQ(M) {
		button {
			margin: 1em;
		}
	}
}

/* xIcons section - basic style */
.sg-icons {
	li {
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 1em;
	}
}

section {
	margin: 3em 0;
	@include clearfix;

	&:nth-of-type(1) h2::before {
		content: '1. ';
	}

	&:nth-of-type(2) h2::before {
		content: '2. ';
	}

	&:nth-of-type(3) h2::before {
		content: '3. ';
	}

	&:nth-of-type(4) h2::before {
		content: '4. ';
	}

	&:nth-of-type(5) h2::before {
		content: '5. ';
	}

	&:nth-of-type(6) h2::before {
		content: '6. ';
	}

	@include MQ(S) {
		margin: 3em 0 5em;
	}

	@include MQ(L) {
		@include column(.48);
		margin: 0 4% 4em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}